<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title></title>
    <link rel='stylesheet' href='css/style.css'>
</head>

<body>
    <div id='mainContainer'>
        <div id='header'>
            <div class='left'>
                <ul>
                    <li>
                        <h4>Express: Assignment 03: Great Number Game: Index</h4>
                    </li>
                </ul>
            </div>
            <div class='right'></div>
        </div>
        <hr>
        <div id='body'>
            <div class="center">
                <h1>Welcome to the Great Number Game</h1>
                <h3>I am thinking of a number between
                    <%= numValMin %> and
                        <%= numValMax %>
                </h3>
                <h3>Take a Guess!</h3>
                <br><br>
                <form action="/guess" method="POST">
                    <input class="inputTextCenter" type="number" name="numValGuess" placeholder="Enter Your Guess" min="<%= numValMin %>" max="<%= numValMax %>" step="1"><br>
                    <input class="btnSubmit btnGreen" type="submit" value="Guess!">
                </form>
            </div>
        </div>
        <div id='foot'>
        </div>
    </div>
</body>

</html>