<!--The content below is only a placeholder and can be replaced.-->
<div id="mainContainer">
  <div id="header">
    <div class="left">
      <ul>
        <li><h4>Angular: Architecture: Assignment 03 - Quote Ranks: Index</h4></li>
      </ul>
    </div>
    <div class="right">
      <ul>
        <li></li>
      </ul>
    </div>
  </div>
  <hr>
  <div id="body">
    <app-quote-add ></app-quote-add>
    <br>
    <hr>
    <!-- <br> -->
    <app-quote-list [quotesAll] = "quotesAll"></app-quote-list>
  </div>
</div>



