<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./../css/style.css">
</head>

<body>
    <div id="mainContainer">
        <div id="header">
        </div>
        <div id="body">
            <h1>CATS!</h1>
            <h1>CATS IN PANTS!</h1>
            <h1>CATS IN PANT SUITS!</h1>
        </div>
        <div id="foot">
        </div>
    </div>
</body>

</html>
