<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./../css/style.css">
</head>

<body>
    <div id="mainContainer">
        <div id="header">
            <div class="left">
                <ul>
                    <li><h4>MongoDB: Assignment 03: RESTful Task API: Index</h4></li>
                </ul>
            </div>
            <div class="right">
                <ul>
                    <li><a href=""><h4></h4></a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div id="body">
            <div class="center">
                <a href="/tasks"><input class="btnSubmit btnGreen" type="submit" value="Show Tasks"></a>
                
            </div>
        </div>
        <div id="foot">
        </div>
    </div>
</body>

</html>
