<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/style.css'>
</head>

<body>
    <div id='mainContainer'>
        <div id='header'>
        </div>
        <div id='body'>
            <h1>POST!</h1>
            <form action="/users" method="POST">
                <label for="name">Name:</label>
                <input class="inputText" type="text" name="name">
                <label for="email">Email:</label>
                <input class="inputText" type="text" name="email">
                <input type="submit" value="Create User">
            </form>
        </div>
        <div id='foot'>
        </div>
    </div>
</body>

</html>