<!--The content below is only a placeholder and can be replaced.-->
<div id="mainContainer">
    <div id="header">
      <div class="left">
        <ul>
          <li><h4>Angular: Component Event: Assignment 03 - Registration Form: Index</h4></li>
        </ul>
      </div>
      <div class="right"></div>
    </div>
    <hr>
    <div id="body">
      <div *ngIf="displayResult">
        <div class="dojoSurveyGreen seventy">
          <h2>Thank You for Registering!</h2>
          <p>Thank you for registering with us {{ user.firstName }}!</p>
          <p>We just sent you a confirmation email at {{ user.email }}</p>
          <p>In Addition, we will send all mail to:</p>
          <p>{{ user.streetAddress }}, {{ user.unitOrAptNumber }}</p>
          <p>{{ user.cityName }}, {{ user.stateName }}</p>
          <br>
          <p>Have a Wonderful Day!</p>
        </div>
      </div>
      <div class="dojoSurvey seventy">
        <div class="left">
          <h1 class="left">Registration</h1>

          <form #userForm = "ngForm" (ngSubmit)="onFormSubmit(userForm)">
            {{diagnostic}}
          <fieldset>
            <h2>Account Information</h2>
            <!-- firstName -->
            <!-- <span class="errors" *ngIf="displayErrors"> -->
            <span class="errors">
              <span *ngIf="firstName.invalid && ( firstName.dirty || firstName.untouched )">
                <span *ngIf="firstName.errors.required">
                  First Name is Required.
                </span>
                <span *ngIf="firstName.errors.minlength">
                  <!-- {{ firstName.errors | json }} -->
                  Must be at least {{ firstName.errors.minlength.requiredLength }} Characters Long.
                </span>
              </span>
            </span>
            <label for="firstName">First Name:</label>
            <input id="firstName" class="inputTextLeft" type="text" name="firstName"
              required
              minlength="2"
              maxlength="40"
              [(ngModel)]="user.firstName"
              #firstName = "ngModel">
            <!-- TODO: remove: {{ user.firstname }} -->
            <!-- lastName -->
            <span class="errors">
              <span *ngIf="lastName.invalid && ( lastName.dirty || lastName.untouched )">
                <span *ngIf="lastName.errors.required">
                  Last Name is Required.
                </span>
                <span *ngIf="lastName.errors.minlength">
                    <!-- {{ firstName.errors | json }} -->
                  Must be at least {{ lastName.errors.minlength.requiredLength }} Characters Long.
                </span>
              </span>
            </span>
            <label for="lastName">Last Name:</label>
            <input id="lastName" class="inputTextLeft" type="text" name="lastName"
              required
              minlength="2"
              maxlength="40"
              [(ngModel)]="user.lastName"
              #lastName = "ngModel">
            <!-- email -->
            <span class="errors">
              <span *ngIf="email.invalid && ( email.dirty || email.untouched )">
                <span *ngIf="email.errors.required">
                  Email is Required.
                </span>
                <span *ngIf="email.errors.pattern">
                  Must be a Valid Email Format.
                </span>
              </span>
            </span>
            <label for="email">Email:</label>
            <input id="email" class="inputTextLeft" type="text" name="email"
              required
              pattern = ^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$
              [(ngModel)]="user.email"
              #email="ngModel">
            <!-- password -->
            <span class="errors">
              <span *ngIf="password.invalid && ( password.dirty || password.untouched )">
                <span *ngIf="password.errors.required">
                  Password is Required.
                </span>
                <span *ngIf="password.errors.minlength">
                  Password much be at least {{ password.errors.minlength.requiredLength }} Characters Long: ( {{ password.errors.minlength.actualLength }} of {{ password.errors.minlength.requiredLength }} )
                </span>
              </span>
            </span>
            <label for="password">Password:</label>
            <input id="password" class="inputTextLeft" type="text" name="password"
              required
              minlength="8"
              maxlength="60"

              [(ngModel)]="user.password"
              #password="ngModel">
            <!-- password confirmation -->
            <span class="errors">
              <span *ngIf="displayPasswordErrors">
                Passwords Must Match
              </span>
              <span *ngIf="passwordConfirmation.invalid && ( passwordConfirmation.dirty || passwordConfirmation.untouched )">
                <span *ngIf="passwordConfirmation.errors.required">
                  Password Confirmation is Required.
                </span>
                <span *ngIf="passwordConfirmation.errors.minlength">
                  Password Confirmation must be at least {{ passwordConfirmation.errors.minlength.requiredLength }} Characters Long: ( {{ passwordConfirmation.errors.minlength.actualLength }} of {{ passwordConfirmation.errors.minlength.requiredLength }} )
                </span>
              </span>
            </span>
            <label for="passwordConfirmation">Password Confirmation:</label>
            <input id="passwordConfirmation" class="inputTextLeft" type="text" name="passwordConfirmation"
              required
              minlength="8"
              maxlength="60"

              [(ngModel)]="user.passwordConfirmation"
              #passwordConfirmation="ngModel">
            <!-- streetAddress -->
            <span class="errors">
              <span *ngIf="streetAddress.invalid && ( streetAddress.dirty || streetAddress.untouched )">
                <span *ngIf="streetAddress.errors.required">
                  Street Address is Required.
                </span>
              </span>
            </span>
            <label for="streetAddress">Street Address:</label>
            <input id="streetAddress" class="inputTextLeft" type="text" name="streetAddress"
              required
              [(ngModel)]="user.streetAddress"
              #streetAddress="ngModel">
            <!-- unitOrAptNumber -->
            <span class="errors">
            </span>
            <label for="unitOrAptNumber">Unit or Apartment Number</label>
            <input id="unitOrAptNumber" class="inputTextLeft" type="text" name="unitOrAptNumber"

              [(ngModel)]="user.unitOrAptNumber"
              #unitOrAptNumber="ngModel">
            <!-- cityName -->
            <span class="errors">
              <span *ngIf="cityName.invalid && ( cityName.dirty || cityName.untouched )">
                <span *ngIf="cityName.errors.required">
                  City Name is Required
                </span>
              </span>
            </span>
            <label for="cityName">City Name:</label>
            <input id="cityName" class="inputTextLeft" type="text" name="cityName"
              required
              minlength="4"
              [(ngModel)]="user.cityName"
              #cityName="ngModel">
            <!-- stateName -->
            <span class="errors">
              <span *ngIf="stateName.invalid && ( stateName.dirty || stateName.untouched )">
                <span *ngIf="stateName.errors.required">
                  State Name is Required.
                </span>
              </span>
            </span>
            <label for="stateName">State:</label>
            <select class="inputTextLeft" name="stateName"
              required
              [(ngModel)]="user.stateName"
              #stateName="ngModel">
              <option disabled selected ></option>
              <option *ngFor="let state of arrayState" value="{{state[1]}}">{{state[0]}}</option>
            </select><br>
            <!-- feeling -->
            <span class="errors">
              <span *ngIf="feeling.pristine">
                Feeling Is Required.
              </span>
            </span>
            <label for="feeling">I am Feeling Lucky</label><br><br>
            <input id="feeling" class="inputRadio" name="feeling" type="radio" value="Yes"
              required
              [(ngModel)]="user.feeling"
              #feeling="ngModel"> Yes
            <input id="feeling" class="inputRadio" name="feeling" type="radio" value="No"
              required
              [(ngModel)]="user.feeling"
              #feeling="ngModel"> No
            <br>
            <div class="left">
              <input class="btnSubmit btnGreen" type="submit" value="Submit">
              <!-- [disabled]="!userForm.form.valid" -->
            </div>
          </fieldset>
          </form>
        </div>
      </div>

    </div>
    <div id="foot">
    </div>
  </div>



