<!--The content below is only a placeholder and can be replaced.-->
<div id="mainContainer">
    <div id="header">
      <div class="left">
        <ul>
          <li><h4>Angular: Component Event: Assignment 01 - Event Listeners: Index</h4></li>
        </ul>
      </div>
      <div class="right"></div>
    </div>
    <hr>
    <div id="body">
      <div class="dojoSurvey seventy">
        <h1>Event Listener</h1>
        <input class="btnSubmit btnGreen" type="button" (click)="logNumber()" value="Log the Number Value">
        <input class="btnSubmit btnGreen" type="button" (click)="num = num + 1" value="Iterate Number By One">
        <input class="btnSubmit btnGreen" type="button" (click)="increaseNumber()" value="Iterate Number By One then Log">

      </div>
    </div>
    <div id="foot">
    </div>
</div>

