/* .ng-invalid {
  color: red;
}
.ng-valid {
  color: green;
}
.ng-untouched {
  color: blue;
}
.ng-touched {
  color: orange;
} */
/* .ng-dirty {
  color: brown;
} */
/* .ng-pristine {
  color: grey;
} */
