<!--The content below is only a placeholder and can be replaced.-->
<div id="mainContainer">
  <div id="header">
    <div class="left">
      <ul>
        <li><h4>Angular: Services: Assignment 01: GitHub Score: Index</h4></li>
      </ul>
    </div>
    <div class="right">

    </div>
  </div>
  <hr>
  <div id="body">
    <br><br>
    <div class="dojoSurvey">
      <div class="dojoInset">
        <div class="left">
          <app-score-new></app-score-new>
        </div>
        <div class="right">
          <div class="center">
            <app-score-list></app-score-list>
          </div>
        </div>
      </div>
    <br><br><br>
    </div>
  </div>
  <div id="foot">
  </div>
</div>


