<!--The content below is only a placeholder and can be replaced.-->
<div id="mainContainer">
  <div id="header">
    <div class="left">
      <ul>
        <li><h4>Angular: Services: Assignment 01: GitHub Score: Index</h4></li>
      </ul>
    </div>
    <div class="right">

    </div>
  </div>
  <hr>
  <div id="body">
    <br><br>
    <div class="dojoSurvey">
      <div class="dojoInset">
        <div class="left">
          <form #usernameForm = "ngForm" (ngSubmit)="onFormSubmit(userForm)">
            <h1>GitHub Score</h1>
            <label for="userName">Github Username:</label>
            <input class="inputTextLeft" type="text" name="username"
            required
            minlength="2"
            [(ngModel)]="username"
            #userName="ngModel"
            >
            <div class="btn-left">
              <input class="btnSubmit btnGreen" type="submit" value="Submit"
              [disabled]="!usernameForm.form.valid">
            </div>
          </form>
        </div>
        <div class="right">
          <div class="center">
            <h1>Your Score: XX</h1>
            <br>
            <h3>****MESSAGE</h3>
          </div>
        </div>
      </div>
    <br><br><br>
    </div>
  </div>
  <div id="foot">
  </div>
</div>


