<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title></title>
    <link rel='stylesheet' href='css/style.css'>
</head>

<body>
    <div id='mainContainer'>
        <div id='header'>
            <div class='left'>
                <ul>
                    <li><h4>MongoDB: Advanced: Assignment 01: Login and Registration Dashboard</h4></li>
                </ul>
            </div>
            <div class='right'></div>
        </div>
        <hr>
        <div id='body'>
        <br><br>
            <h3>Dashboard</h3>
        </div>
        <div id='foot'>
        </div>
    </div>
</body>

</html>
