.colorTile {
  width: 100px;
  height: 100px;
  border: 1px solid white;
  display: inline-block;
  /* color: white; */
  text-align: center;
  /* line-height: 25px; */
}

#textBlock #whiteText {
  text-align: center;
  color: white;
  /* line-height: 50px; */
  margin: 30% 10% 10% 10%;
}
