<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title></title>
    <link rel='stylesheet' type='text/css' href="/css/style.css">
</head>

<body>
    <div id='mainContainer'>
        <div id='header'>
            <div class="left">
                <ul>
                    <li>
                        <h4>Node: Assignment 02: Cars and Cats: Cars</h4>
                    </li>
                </ul>
            </div>
            <div class="right">
                <ul>
                    <li>
                        <h4><a href="/">Index Page</a></h4>
                    </li>
                    <!--<li>
                        <h4><a href="/cars">Cars Page</a></h4>
                    </li>-->
                    <li>
                        <h4><a href="/cats">Cats Page</a></h4>
                    </li>
                </ul>
            </div>
        </div>
        <div id='body'>
            <hr>
            <div id="body-top">
                <div class="left">

                </div>
                <div class="right">
                    <a href="/cars/new"><input class="btnSubmit btnBlue" type="submit" value="Add a New Car"></a>
                </div>
            </div>
            <div class="center">
                <h1>CARS</h1>
                <div class="center">
                    <img src="/images/car1.jpg" class="imageSized"><br><br>
                    <img src="/images/car2.jpg" class="imageSized"><br><br>
                    <img src="/images/car3.jpg" class="imageSized">
                </div>
                <!--<a href="/cars"><input class="btnSubmit btnGreen" type="Submit" value="Go to Cars"></a>-->
            </div>
        </div>
        <div id='foot'>
        </div>
    </div>
</body>

</html>