<!--The content below is only a placeholder and can be replaced.-->
<div id="mainContainer">
  <div id="header">
    <div class="left">
      <ul>
        <li><h4>Angular: Architecture: Assignment 02 - Power Levels: Index</h4></li>
      </ul>
    </div>
    <div class="right">
      <ul>
        <li><h4></h4></li>
      </ul>
    </div>
  <hr>
  </div>
  <br>
  <div id="mainContent">
    <!-- <h1>Content</h1> -->
    <div class="forty">
      <div class="row">
        <p class="appLabel">PowerComponent</p>
          <app-power (powerLevelEmitter)="dataFromAppPower($event)"></app-power>
      </div>
    </div>
  </div>


</div>


