<!--The content below is only a placeholder and can be replaced.-->
<div id="mainContainer">
  <div id="header">
    <div class="left">
      <ul>
        <li><h4>Angular: Architecture: Assignment 02 - Power Levels: Index</h4></li>
      </ul>
    </div>
    <div class="right">
      <ul>
        <li><h4></h4></li>
      </ul>
    </div>
  <hr>
  </div>
  <br>
  <div id="mainContent">
    <h1>Content</h1>
    <div class="forty">
      <div class="row">
        <app-power></app-power>
      </div>
    </div>
    <div class="thirty">
      <div class="row">
        <div class="thirtyWide">
          <app-human></app-human>
        </div>
        <div class="thirtyWide">
          <app-saiyan></app-saiyan>
        </div>
        <div class="thirtyWide">
          <app-supersaiyan></app-supersaiyan>
        </div>
      </div>
    </div>
    <div class="thirty">
        <div class="row">
          <div class="thirtyWide">
            test
          </div>
          <div class="thirtyWide">
            test
          </div>
          <div class="thirtyWide">
            test
          </div>
        </div>
      </div>
  </div>
  <div id="foot">
  </div>
</div>


