<div id="mainContainer">
  <div id="header">
    <div class="left">
      <ul>
        <li><h4>Angular: Routing: Lesson 01: Routing: Index</h4></li>
      </ul>
    </div>
    <div class="right"></div>
  </div>
  <hr>
  <div id="body">
    <!-- <app-home></app-home> -->
    <ul>
      <li class="navBar"><a [routerLink]="['']">Index</a></li>
      <li class="navBar"><a [routerLink]="['home']">Home</a></li>
      <li class="navBar"><a [routerLink]="['notes', 'private']">Notes Private</a></li>
      <li class="navBar"><a [routerLink]="['gohome']">Go Home Redirect</a></li>
    </ul>
    <br>
    <div class="dojoSurvey">
      <div class="seventy">
        <router-outlet>
          <!-- <h1>Index</h1> -->
          <!-- <h2>TEMP</h2> -->
        </router-outlet>
      </div>
    </div>

  </div>
    <div id="foot">
    </div>
  </div>


